/* Re-align the grippie */
form#settings #post-body .wp_themeSkin .mceStatusbar a.mceResize  {top:-2px;}

.description {font-size: 11px !important;}

/* Wysiwyg */
#editorcontainer textarea {width:100%;}
#poststuff .postarea{margin-bottom: 0px;}

/* Attachment previews*/
.option_preview {width: 100px;float: right;margin-top: 0px; word-wrap: break-word; text-align: center; line-height: 1.4;}
.post-attachment  .option_preview {margin-top: 5px;}

/* Metaboxes */
#cwantwm_support {background:#085F8C; text-align:center; display: block; padding: 10px 0px 10px 0px;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;          
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;}
#admin-section-tweets-wrap, #admin-section-forum-wrap {margin-bottom: 5px;}
#admin-section-tweets-wrap li, #admin-section-forum-wrap li {background:#085F8C; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;          
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; color:#ffffff; padding:10px;margin-bottom: 15px;}
#admin-section-tweets-wrap li a, #admin-section-forum-wrap li a {color:#ffffff; text-decoration:none; font-weight:bold;}

/* Speech bubbles */
.speech {position: relative;}
.speech:after {
    content:""; position:absolute; bottom:-10px; 
    right:50px; border-width:10px 10px 0; border-style:solid;
    border-color:#085F8C transparent; display:block; width:0;
}

.swatch {cursor: pointer;
width: 20px;
height: 20px;
position: absolute;
left: 4px;
display: block;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
top: 4px;}
div.picker {position:absolute;display:none; z-index:9999; left:110px; bottom:-195px; background:#000000; padding:10px; border-radius:10px;}
input.picker {height:28px; width:100px; margin-left:0px; cursor:pointer; margin-top:0px; padding-left: 30px;  font-size: 13px;}

.form-table th { width: 190px;}


.ahas-right-sidebar .inner-sidebar {width:430px;}
.ahas-right-sidebar #post-body {margin-right: -450px;}
.ahas-right-sidebar #post-body-content {margin-right: 450px;}
.ainner-sidebar #side-sortables {width: 430px; }
input[type="text"] {
height:28px;
}

input[type="checkbox"]  {
top: -1px;
position: relative;
}


.chzn-container  {margin-right:5px;}

input {background-color: white;

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #DFDFDF !important; color: #444;}



.inline-rel {position:relative; display:inline-block; height: 28px; width:105px; }




/* Widget Context Style */








